<div class="container static-board-container">
    <div ng-repeat="row in [8, 7, 6, 5, 4, 3, 2, 1] track by $index">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <div class="board-row">
                    <div ng-repeat="col in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'] track by $index">
                        <div class="col-md-1 col-xs-1 col-sm-1 board-field" ng-class="getFieldColorClass(row - 1, $index)">
                            {{col}}{{row}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
